@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.fira-sans {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body{
  background-color: #f5f5f5;
  max-width: 80rem;
  margin: 0 auto;
}

/* header section starts */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3.5rem;
}
.logo {
  color: #0e0e0e;
  font-weight: 700;
  font-size: 40px;
}

.header-btn {
  color: #006a50;
  font-weight: 600;
  font-size: 24px;
  padding: 15px 30px;
  border: 1px solid #006a50;
  border-radius: 15px;
  cursor: pointer;
  transition: 5ms ease;
}
.header-btn:hover {
  color: white;
  background-color: #006a50;
}

/* header section ends */
/* banner section starts */
.banner {
  margin-top: 3rem;
  padding: 4.75rem 3.75rem;
  background-color: #c6e4d6;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-desc{
  width: 50%;
}
.banner-desc h6 {
  color: #0e0e0e80;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.banner-desc h1 {
  color: #0e0e0e;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4.25rem;
  margin-bottom: 1.5rem;
}

.banner-btn {
  background-color: #006a50;
  color: white;
  padding: 15px 32px;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.5s ease;
}

.banner-btn:hover {
  color: #006a50;
  background-color: #f5f5f5;
  border: 2px solid #006a50;
}
.banner-img {
  width: 43%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-img img{
  width: 100%;
}

/* banner section starts */
/* pillars section starts */
.section-heading {
  color: #0e0e0e;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 3rem;
}
.pillars {
  margin: 3rem 0;
}
.pillar-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:1.5rem;
}

.pillar-card {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1rem;
  /* min-width: 362px; */
}

.pillar-card h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1.25rem 0;
}

.normal-text {
  color: ##0e0e0eb2;
  opacity: 70%;
  font-size: 1rem;
  line-height: 1.5rem;
}
/* pillars section ends */

/* vision section starts */
.vision-cards {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.vision-card-1 {
  background-color: #ccdbf7;
  padding: 2rem;
  border-radius: 1rem;
}

.card-heading {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1.5rem 0px;
}

.vision-btn-1 {
  padding: 14px 25px;
  border-radius: 12px;
  border: none;
  margin-top: 2rem;
  background-color: #5490f5;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s ease;
}

.vision-btn-1:hover {
  background-color: tomato;
  color: black;
}

.vision-card-2 {
  background-color: #c6e4d6;
  padding: 2rem;
  border-radius: 1rem;
}
.vision-btn-2 {
  padding: 14px 25px;
  border-radius: 12px;
  border: none;
  margin-top: 2rem;
  background-color: #09a15c;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s ease;
}
.vision-btn-2:hover {
  background-color: tomato;
  color: black;
}
.vision-card-3 {
  background-color: #f7ebcf;
  padding: 2rem;
  border-radius: 1rem;
}
.vision-btn-3 {
  padding: 14px 25px;
  border-radius: 12px;
  border: none;
  margin-top: 2rem;
  background-color: #ffc239;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s ease;
}
.vision-btn-3:hover {
  background-color: tomato;
  color: black;
}
/* vision section ends */
/* quote section starts */
.quote {
  margin: 3.7rem 0;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 3rem 1.8rem;
  border: 1px solid #bdbcbc80;
  position: relative;
}

.quote-mark {
  color: #0e0e0e;
  position: absolute;
  top: 1.7rem;
}
.quote h5 {
  color: #0e0e0ecc;
  font-size: 26px;
  margin-top: 20px;
  margin-bottom: 10px;
}
/* quote section ends */
/* news section starts */

.news-card {
  background-color: white;
  border-radius: 1.5rem;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin: 3rem 0;
}

.news-img {
  width: 35%;
}
.news-img img {
  border-radius: 1.5rem;
  width: 100%;
}
.desc-heading {
  font-weight: 700;
  font-size: 2rem;
}
.news-btn {
  padding: 0.8rem 1.6rem;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  border: none;
  color: white;
  background-color: #006a50;
  width: 8.65rem;
  cursor: pointer;
  transition: 0.5s ease;
}
.news-btn:hover {
  background-color: #09a15c;
  border: 1px solid #006a50;
}

.news-desc {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: .7rem;
}
/* news section ends */
/* donate section starts */
.donate {
  margin: 2.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.donate p {
  text-align: center;
}

.donate-heading {
  color: #0e0e0e;
  font-weight: 700;
  font-size: 3rem;
}

.taka {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.taka-btn {
  font-size: 2.5rem;
  font-weight: 700;
  border-radius: 1rem;
  background-color: #ffffff;
  padding: 2.5rem;
  border: 1px solid #cacaca80;
  cursor: pointer;
  transition: 0.5s ease;
}

.taka-btn-1 {
  font-size: 2.5rem;
  font-weight: 700;
  border-radius: 1rem;
  background-color: #b6e9c3;
  padding: 2.5rem;
  border: 1px solid #cacaca80;
  cursor: pointer;
  transition: 0.5s ease;
}
.taka-btn:hover {
  background-color: darksalmon;
}
.taka-btn-1:hover {
  background-color: darksalmon;
}

.donate input {
  width: 80%;
  padding: 1.25rem 2.5rem;
  border: none;
  border-bottom: 1px solid rgba(14, 14, 14, 0.15);
  font-size: 22px;
  text-align: center;
}

.donate-btn {
  padding: 16px 32px;
  font-size: 22px;
  border-radius: 15px;
  border: none;
  color: white;
  background-color: #006a50;
  width: 182px;
  cursor: pointer;
  transition: 0.5s ease;
}
.donate-btn:hover {
  background-color: #b6e9c3;
  border: 1px solid #006a50;
  color: black;
}
/* donate section ends */

/* newsletter section starts */
.newsletter {
  margin: 3.5rem 0;
  padding: 5rem 6.25rem;
  background-color: #c6e4d6;
  border-radius: 1.5rem;
  text-align: center;
}

.newsletter h3 {
  margin-bottom: 28px;
}

.newsletter > p {
  margin-bottom: 28px;
}

.subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 42px;
}
.subscribe input {
  width: 50%;
  padding: 1.2rem 2rem;
  border: none;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  font-size: 1rem;
}

.subscribe button {
  background-color: #006a50;
  padding: 1.2rem 2rem;
  font-size: 1rem;
  color: white;
  border: none;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  cursor: pointer;
  transition: 0.5s ease;
}
.subscribe button:hover {
  background-color: #2be997;
  color: black;
}

.subscribe p {
  font-size: 22px;
  font-weight: 400;
}
/* newsletter section ends */

/* footer section starts */
footer {
  max-width: 1920px;
  margin-top: 3rem auto;
  background-color: #ffffff;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.line {
  height: 1px;
  width: 950px;
  text-align: center;
  border-top: 1px solid rgb(247, 247, 247);
}

.icons {
  display: flex;
  gap: 15px;
}
/* footer section ends */

/* Responsiveness Styles */

@media screen and (max-width:776px) {
  .banner{
    flex-direction: column;
    padding: 1.75rem 1.25rem;
    gap: 3rem;
  }
  .banner-desc{
    width: 90%;
  }
  .banner-desc h1 {
    font-size: 3rem;
    line-height: 3.75rem;
  }
  .banner-img {
    width: 90%;
  }
  .section-heading {
    font-size: 2rem;
    margin-bottom: 2.5rem;
  }
  .pillar-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:1.5rem;
  }
  .vision-cards {
    margin-top: 3rem;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
  }
  .news-card {
    padding: 1.5rem;
    flex-direction: column;
  }
  .news-img {
    width: 85%;
  }
  .news-desc {
    width: 90%;
  }
  .taka {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  .taka-btn, .taka-btn-1 {
    font-size: 1.5rem;
  }
  .donate-heading {
    font-size: 2rem;
  }
  .logo {
    font-size: 2rem;
  }
  .subscribe {
    flex-direction: column;
    gap: 1.5rem;
  }
}